In [191]:
import pandas as pd
import numpy as np

In [192]:
# constructing dummy dataframe for testing
ts = pd.Series(['2017-12-31', '2017-12-31', '2017-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
                '2019-02-28', '2019-02-28', '2019-02-28'])
df = pd.DataFrame(columns=['lat', 'lon', 'time', 'variable'])

lat = [5, 90, 25]
lon = [12, 20, 60]
# IMPORTANT: I would recommend creating a separate column for the timestamps
# and keeping the index of the dataframe to a simple sequence of numbers (0, 1, 2, ..., n)
df['time'] = ts

for i in range(len(df)):
    df.loc[df.index[i], 'lat'] = lat[i % 3]
    df.loc[df.index[i], 'lon'] = lon[i % 3]
    df.loc[df.index[i], 'variable'] = np.random.randint(0,1000)

In [193]:
df

  lat lon        time variable
0   5  12  2017-12-31      717
1  90  20  2017-12-31      142
2  25  60  2017-12-31      755
3   5  12  2019-12-31      627
4  90  20  2019-12-31      552
5  25  60  2019-12-31      797
6   5  12  2019-02-28      212
7  90  20  2019-02-28      134
8  25  60  2019-02-28      224

In [194]:
# map each unique lat, lon, and timestamp value to the indices of their respective dimension
# we will use these indices to insert values into our 3d array 
lat_vals = np.unique(df['lat'])

d_lats = {}
for i, lat_val in enumerate(lat_vals):
    d_lats[lat_val] = i

In [195]:
lon_vals = np.unique(df['lon'])

d_lons = {}
for i, lon_val in enumerate(lon_vals):
    d_lons[lon_val] = i

In [196]:
time_stamps = np.unique(df['time'])

d_time = {}
for i, time_stamp in enumerate(time_stamps):
    d_time[time_stamp] = i

In [197]:
# construct empty 3D array of shape:
# (num. unique latitudes, num. unique longitudes, num. unique timestamps)
# bracket placement is VERY important here!
arr = [[[None] * len(time_stamps)] * len(lon_vals)] * len(lat_vals)

In [198]:
arr

[[[None, None, None], [None, None, None], [None, None, None]],
 [[None, None, None], [None, None, None], [None, None, None]],
 [[None, None, None], [None, None, None], [None, None, None]]]

In [199]:
# convert arr to np array (VERY IMPORTANT!)
# normal lists in Python don't operate the same way
arr = np.array(arr)
# shape of arr
arr.shape

(3, 3, 3)

In [200]:
# assign values to the 3D array

# iterate through each row in the dataframe, which is associated with a unique measurement
for i in range(len(df)):
    c_lat = df.loc[i, 'lat']
    c_lon = df.loc[i, 'lon']
    c_time = df.loc[i, 'time']
    # get the index associated with each lat, lon, and timestamp value from their respective dictionaries
    # insert into 3D array using these indices
    arr[d_lats[c_lat]][d_lons[c_lon]][d_time[c_time]] = df.loc[i, 'variable']

In [201]:
arr
# with a real dataframe, all of the spots would likely be populated

array([[[717, 212, 627],
        [None, None, None],
        [None, None, None]],

       [[None, None, None],
        [None, None, None],
        [755, 224, 797]],

       [[None, None, None],
        [142, 134, 552],
        [None, None, None]]], dtype=object)